<style>
  @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css); body{
  font-family: 'Jeju Gothic', sans-serif; background-color: pink; }
</style>

<h3><i class="fas fa-book-reader"></i> 몰브리타임</h3>
<div class="section">
  <p class="lead">게시판에서 익명으로 자유롭게 의견을 공유하세요.</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i>
    구글 계정으로 로그인하기
  </a>
</div>