<h3><i class="fas fa-book-reader"></i> 몰브리타임</h3>
<div class="section">
  <p class="lead">게시판에서 익명으로 자유롭게 의견을 공유하세요.</p>
</div>
<div class="divider"></div>
<div class="section">
  {{!--button that goes to "/auth/google"--}}
  <a href="/auth/google" class="btn red darken-1" style="width: 230px; height: 40px;">
    <i class="fab fa-google left"></i>{{!--google icon--}}
    Log In With Google
  </a>
</div>
<div class="section">
  <a href="/auth/kakao" id="kakao-button" >
    <img src="./kakaotalk-icon.png" alt="KakaoTalk Icon" class="button-icon">
  </a>
</div>