<nav class="red accent-1">
  <div class="nav-wrapper container">

    <a href="#!" class="brand-logo center">몰브리타임</a>
    <a
      href="#"
      data-target="mobile-demo"
      class="sidenav-trigger show-on-large"
    ><i class="fas fa-bars"></i></a>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/stories">몰입캠프 대나무숲</a></li>
      <li><a href="/dashboard">내 게시물 목록</a></li>
      <li><a href="/auth/logout">로그아웃</a></li>
    </ul>
  </div>
</nav>